.logo {
  margin: 0 12px;
}

.container-title-menu-mobile {
  background-color: var(--background);
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 24px 12px;
}

.container-footer-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
}

.container-title-menu {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 24px 12px;
}

.container-footer-menu {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
}
